@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
}
.title {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.hero-section {
  background-color: #000;
  width: 100%;
  height: 500px;
  display: flex;
}
.herowrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(226, 226, 226);
}

.heroRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroRight img {
  width: 250px;
  height: auto;
}

@media screen and (max-width: 780px) {
  .herowrapper {
    padding-top: 2rem;
  }
  .heroRight img {
    display: none;
  }
}

.white-section {
  background-color: #fff;
  min-height: 500px;
  padding-top: 2rem;
}

.white-section p {
  text-align: center;
  font-size: 1.25rem;
}
.white-section img {
  width: 300px;
  height: auto;
}
.white-leftsection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
}
.gray-section span {
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .title {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bolder;
  }

  .white-section {
    min-height: 400px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .gray-section {
    padding-bottom: 2rem;
  }
}
.gray-section {
  background-color: #ececec;
  min-height: 500px;
  padding-top: 2rem;
}
.gray-section img {
  width: 300px;
  height: auto;
}
.gray-section p {
  text-align: center;
  font-size: 1.25rem;
}
.btn-custom {
  background-color: #21c7eb !important;
  border-radius: 10px !important;
  padding: 0.5rem 2rem !important;
  border: none !important;
  outline: none !important;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.btn-custom:hover {
  background-color: #25b7d4 !important;
}
.btn-custom:active {
  border: none !important;
  outline: none !important;
}
.link {
  text-decoration: none !important;
}
.card-items {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  .card-items {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.call-to-action {
  background-color: #ececec;
  min-height: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calltoaction-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-section {
  padding-top: 1rem;
}
.footer-div {
  padding-top: 2rem;
}
.footerlogo {
  text-align: center;
}
.footer-menu {
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  font-family: "raleway";
  font-weight: 500;

  /* background-color: aquamarine; */
}
.social-links {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links a {
  margin-right: 1rem;
  text-decoration: none;
  cursor: pointer;
  color: rgb(92, 91, 91);
  font-size: 1.5rem;
}

.copyright {
  text-align: center;
  padding: 1rem;
  color: #505050;
}

.register-wrapper {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resetpassword-wrapper {
  width: 100%;
  min-height: 80vh;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.welcome-leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 1px#d8d6d6;
}
.followers-wrapper {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 1px#d8d6d6;
  border-radius: 5px;
}
.followers-title {
  text-align: center;
  background-color: #faf9f9;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}
.followers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.followers span {
  font-weight: 600;
}
.welcome-rightSide {
  border-left: solid 1px#d8d6d6;
  padding: 0.5rem 1rem;
}
.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline-btn {
  background-color: #cecece !important;
  border: none !important;
  outline: none !important;
  border-radius: 20px !important;
  padding: 0.5rem 2rem !important;
  text-align: center;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
}
.timeline-btn .active {
  background-color: #21c7eb !important;
}
.timeline-btn:hover {
  background-color: #25b7d4 !important;
}

.postcard {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgb(139, 185, 185);
  border-bottom: solid 1px #d8d6d6;
}
