@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

.title {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #222;
}
.hero-section {
  background-image: url("../src/images/happy_music.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 500px;
  display: flex;
}
.herowrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .herowrapper {
    padding-top: 2rem;
  }
  .heroLeft .title {
    color: #fff;
  }
  .hero-section {

    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: #fff;
  }

}
.white-section {
  background-color: #fff;
  min-height: 500px;
  padding-top: 2rem;
}

.white-section p {
  text-align: center;
  font-size: 1.25rem;
}
.white-section img {
  width: 300px;
  height: auto;
}
.white-leftsection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
}
.gray-section span {
  font-size: 2rem;
  text-align: center;
}
.gray-section {
  background-color: #ececec;
  min-height: 450px;
  padding-top: 2rem;
}
.gray-section img {
  width: 300px;
  height: auto;
}
.gray-section p {
  font-size: 1.25rem;
}
@media screen and (max-width: 650px) {
  .title {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bolder;
  }

  .white-section {
    min-height: 400px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .gray-section {
    padding-bottom: 2rem;
  }
}
.btn-custom {
  background-color: #21c7eb !important;
  border-radius: 10px !important;
  padding: 0.5rem 2rem !important;
  border: none !important;
  outline: none !important;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.btn-custom:hover {
  background-color: #25b7d4 !important;
}
.btn-custom:active {
  border: none !important;
  outline: none !important;
}
.link {
  text-decoration: none !important;
}
.card-items {
  display: flex;
  align-items: center; 
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .card-items {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.call-to-action {
  background-color: #ececec;
  min-height: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calltoaction-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-section {
  padding-top: 1rem;
  background-color: #000;
  background-color: #fff;
  border-top: solid 1px #dedede;
  margin-top: 1rem;
}
.footer-div {
  padding-top: 1rem;
}
.footerlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-menu span {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: "muli";
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links a {
  margin-right: 1rem;
  text-decoration: none;
  cursor: pointer;
  color: rgb(92, 91, 91);
  font-size: 1.5rem;
}

.copyright {
  text-align: center;
  padding: 1rem;
  color: #505050;
}

.register-wrapper {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resetpassword-wrapper {
  width: 100%;
  min-height: 80vh;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileCard-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-middleSide {
  border: solid 1px#d8d6d6;
  border-radius: 5px;
}
.recentpostsCard {
  padding: 0;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline-btn {
  background-color: #cecece !important;
  border: none !important;
  outline: none !important;
  border-radius: 20px !important;
  padding: 0.5rem 2rem !important;
  text-align: center;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
}
.timeline-btn .active {
  background-color: #21c7eb !important;
}
.timeline-btn:hover {
  background-color: #25b7d4 !important;
}

.postcard {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: solid 1px #d8d6d6;
}
.icon{
  font-size: 2rem;
}