@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1.8;
}
body {
  font-family: "Raleway", sans-serif;
}
.hero {
  background-color: #000;
  width: 100%;
  height: 500px;
  display: flex;
}
.herowrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(226, 226, 226);
}

.heroRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroRight img {
  width: 250px;
  height: auto;
}

@media screen and (max-width: 780px) {
  .herowrapper {
    padding-top: 2rem;
  }
  .heroRight img {
    display: none;
  }
 
}

.white-section {
  background-color: #ececec;
  min-height: 400px;
  padding-top: 2rem;
}
.title {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: bolder;
}
.white-section p {
  text-align: center;
  font-size: 1.25rem;
}
.white-section img {
  width: 300px;
  height: auto;
}
.white-leftsection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
}
.white-section span {
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .title {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bolder;
  }

  .white-section {
    min-height: 400px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .gray-section {
    padding-bottom: 2rem;
  }
}
.gray-section {
  background-color: #fff;
  min-height: 500px;
  padding-top: 2rem;
}
.gray-section img {
  width: 300px;
  height: auto;
}
.gray-section p {
  text-align: center;
  font-size: 1.25rem;
}
.btn-custom {
  background-color: #21c7eb !important;
  border: none !important;
  outline: none !important;
}
.btn-custom:hover {
  background-color: #25b7d4 !important;
}
.card-items {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  .card-items {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.call-to-action {
  background-color: #ececec;
  height: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calltoaction-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-links {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links a {
  margin-right: 1rem;
  text-decoration: none;
  cursor: pointer;
  color: rgb(92, 91, 91);
  font-size: 1.5rem;
}
.footer-div {
  padding-top: 2rem;
}
.footerlogo {
  text-align: center;
}
.footer-menu {
  padding: 1rem;
  display: flex;
  justify-content: center;
  /* background-color: aquamarine; */
}
.copyright {
  text-align: center;
  padding: 1rem;
  color: #505050;
}
